<div class=search>
  <h1>Goal Categories</h1>
</div>
<div class=add>
  <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_goal_category_path, :remote => true%>
</div>

<div>
  <div>
      <div class="table_header_full">Name</div>
  </div>
  <div>
    <% @goal_categories.sort_by{|goal_categories| goal_categories.name}.each do |goal_category| %>
      <%= link_to(goal_category_path(goal_category), :remote => true) do %>
        <div class="element">
            <div class="table_body_full"><%= goal_category.name %></div>
        </div>
      <%end%>
    <% end %>
  </div>
</div>
