<!--HEADER-->
<%= render 'common/header' %>
 
<!--Main body-->
<div class=admin_body >
 
<!--Client List-->
  <div class=client_list id="client_list">
    <%= render 'goalcategory_list_form' %>
  </div>
<!--Create Client-->
  <div class=create_client id="client">
    <h1> New Goal Category  </h1>
    <%= render 'form' %>
  </div>
</div>
			      
