<%= form_for @visit, url: {action: "update"} do |f| %>
  <div >
    <%= collection_select(:visit, :disclaimer_id, @disclaimers, :id, :name, :style => "width:70px") %>
    <%= f.submit "Update Disclaimer"%>

  </div>
<% end %>

