<%= form_for(@clients, :url => @clients.first) do |f| %>
	<h1>clients</h1>
  <table style="border-spacing:0;width:90%">
   	<tr>
    	<th style="text-align:left">Name</th>
    	<th style="text-align:left">Email</th>
    </tr>

    <% @clients.each do |client| %>
    <tr style="background:red;border-style:solid">
    	<td style="color:white"><%= client.name %></td>
    	<td style="color:white"><%= client.email %></td>
    	<td><%= link_to 'Show', client_visits_path(client) %></td>
    </tr>
    <% end %>
	</table>
<% end %>