<div class="filed">
  <div class=search>
    <form name="input" action="html_form_action.asp" method="get">
      <input type="text" name="user">
      <input type="submit" value="Search">
    </form>
  </div>
  <div class=add>
    <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_client_path, :remote => true%>
  </div>
</div>
<div class=field>
  <table class=header>
   <tr>
    	<th style="text-align:left">Name</th>
    	<th style="text-align:left">Email</th>
    </tr>
  </table>
  <div class=table_body>
    <table class=body>
      <% @clients.each do |client| %>
        <tr>
          <table class=element>
            <tr>
              <td class=element_column><%= client.name %></td>
              <td class=element_column><%= client.email %></td>
              <td><%= link_to 'Show', client_path(client), :remote => true %></td>
            </tr>
          </table>
        </tr>
      <% end %>
    </table>
  </div>
</div>
