<!--HEADER-->
<%= render 'common/header' %>

<!--Main body-->
<div class=admin_body>

<!--Client List-->
<div class=client_list>
  <%= render 'client_list_form' %>
</div>

<!--Create Client-->
<div class=create_client>
  <h1>New client</h1>
  <%= render 'form' %>
</div>

</div>
