<!--HEADER-->
<% @title = "CLIENTS" %>
<%= render 'common/header' %>

<!--Main body-->
<div class=admin_body >

<!--Client List-->
	<div class=client_list id="client_list">
	  <%= render 'client_list_form' %>
	</div>

<!--Create Client-->
	<div class="detail_view" id="client">
      <h1> New Client  </h1>
	  <%= render 'form' %>
	</div>

</div>
