<!--HEADER-->
<%= render 'common/header' %>

<!--Main body-->
<div style="height:500px;width:960px;margin:0px auto">

<!--Client List-->
<div style="height:100%;width:45%;margin:15px;float:left">
  <%= render 'client_list_form' %>
</div>

<!--Create Client-->
<div style="height:100%;width:45%;float:left;border:solid;border-width:1px;margin:15px;background:gray" id = "client">
  <h1>New client</h1>
  <%= render 'form' %>
</div>

</div>
