<div style="width:1024px;margin:0px auto">

<div style="width:50%;float:left">
  <%= render 'client_list_form' %>
</div>
<div style="width:50%;float:left" id="client">
  <h1>Editing client</h1>
  <%= render 'form' %>
</div>

</div>