$('#client').html("<%= escape_javascript(link_to "New", new_client_path, :remote => true) %>");
$('#client').append("<h1>Editing Client</h1>");
$('#client').append("<%= escape_javascript(render 'form') %>");
