<div class='list_header'>
  <h1>Recommendations</h1>
</div>
<div class=add>
  <%= newImageButton new_client_visit_to_do_path(@visit.client, @visit), @to_do %> 
</div>

<div>
  <div>
    <div class="table_header_full">Title</div>
  </div>
  <div class="tiny_table_body">
  <% @client.getVisibleToDos(@visit).each do |to_do| %>
    <%= link_to(client_visit_to_do_path(@visit.client, @visit, to_do), :remote => true) do %>
      <div class="element", style="<%= rowColor(@to_do, to_do) %>">
        <div class="table_body_full"><%= to_do.title %></div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
