$('#todo').html("<p>");
$('#todo').append("</p>");
$('#todo').append("<h1>Editing To Do</h1>");
$('#todo').append("<%= escape_javascript(render 'form') %>");
$('#todo').append("<div class=delete_format><%= escape_javascript(deleteImageButton  client_visit_to_do_path(@visit.client, @visit, @to_do), "Are you sure you want to delete this to do item?") %></div>");


