<div class=search>
  <h1>To Do List</h1>
</div>
<div class=add>
  <%= link_to image_tag("Nuvola_Red_Plus.svg", size: "28x28"), new_client_visit_to_do_path(@visit.client, @visit), :remote => true%> 
</div>


<table class=header>
  <tr>
    <th class=header>Title</th>
  </tr>

  <% @visit.to_dos.each do |to_do| %>
    <%= link_to(client_visit_to_do_path(@visit.client, @visit, to_do), :remote => true) do %>
    <tr>
      <table class="element">
        <td class="element_column"><%= to_do.title %></td>
      </table>
    </tr>
    <% end %>
  <% end %>
</table>
