<h1>Listing to_dos</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @visit.to_dos.each do |to_do| %>
    <tr>
      <table class="element">
        <td class="element_column"><%= to_do.title %></td>
        <td class="element_column"><%= link_to 'Show', client_visit_to_do_path(@visit.client, @visit, to_do), :remote => true %></td>
      </table>
      <!--<td><%= link_to 'Destroy', client_visit_to_do_path(@visit.client, @visit, to_do), method: :delete, :remote => true %></td>-->
    </tr>
  <% end %>
</table>