$('#todo').html("<p>");
$('#todo').append("<%= escape_javascript(link_to "New", new_client_visit_to_do_path(@visit.client, @to_do.visit), :remote => true) %> | ");
$('#todo').append("<%= escape_javascript(link_to "Delete", client_visit_to_do_path(@visit.client, @visit, @to_do), :method => :delete, :remote => true) %>");
$('#todo').append("</p>");
$('#todo').append("<h1>Editing To Do</h1>");
$('#todo').append("<%= escape_javascript(render 'form') %>");