<h1>Listing to_dos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Complete</th>
    <th></th>
  </tr>

  <% @visit.to_dos.each do |to_do| %>
    <tr>
      <td><%= to_do.title %></td>
      <td><%= to_do.description %></td>
      <td><%= to_do.complete %></td>
      <td><%= link_to 'Destroy', client_visit_to_do_path(@visit.client, @visit, to_do), method: :delete, :remote => true %></td>
    </tr>
  <% end %>
</table>