<h1>Listing goals</h1>

<table>
    <tr>
        <th>Name</th>
        
    </tr>

    <% @visit.goals.each do |goal| %>
        <tr>
            <table class="element">
            <td class="element_column"><%= goal.name %></td>
            <td class="element_column"><%= link_to 'Show', client_visit_goal_path(@visit.client, @visit, goal), :remote => true %></td>
            </table>
            <!--<td><%= link_to 'Destroy', client_visit_goal_path(@visit.client, @visit, goal), method: :delete, :remote => true %></td>-->
        </tr>
    <% end %>
</table>
