$('#goal').html("<p>");
//$('#goal').append("<%= escape_javascript(link_to "New", new_goal_path(@client, @visit), :remote => true) %> | ");
//$('#goal').append("<%= escape_javascript(link_to "Delete", goal_path(@client, @visit, @goal), :method => :delete, :remote => true) %>");
$('#goal').append("</p>");
$('#goal').append("<h1>Editing Goal</h1>");
$('#goal').append("<%= escape_javascript(render 'form') %>");