<% @title = "GRAPH" %>
<%= render 'common/header' %>
<p id="notice"><%= notice %></p><div class="admin_body">
  <div style="height:50px;width:100%"></div>
<%= jqplot 400, 950,  @goal.getJQPlotCompatibleData(),
    :axes => {
      	:xaxis => {:label => 'Date', :renderer => "$.jqplot.DateAxisRenderer", :min => @goal.goal_states.first.visit.visit_date, :max => @goal.target_date, :tickOptions => {:formatString => '%Y-%m-%d', :tickInterval => "1 month" }  }, 
      	:yaxis => {:label => 'Contributed', :min => 0, :max =>@goal.target_value } 
    },
    :title => @goal.name,
    :legend => {:show => true, :location => 'se'},
    :axesDefaults => {:tickOptions => {:showGridline => true}},
    :grid => {:shadow => false, :drawGridLines => true} ,
    :series => [
       	{:label => 'Remaining contributions'}, 
       	{:label => 'Amount Contributed to Date', :color => '#b90938'}, 
      	{:label => 'Target Contributed to Date', :color =>'#cccccc', :shadow => false}
    ]
%> 
</div>
<%= button_to 'Back', client_visits_path(@goal.client), :method => 'get' %>
