div.admin_body
{
  height: 500px;
  width: 960px;
  margin: 0px auto;
}

div.field
{
 height: 20px;
 width: 100%;
}

div.large_field
{
  height:80px;
  width:100%
}

/*Supporting admin list*/
div.search
{
  padding: 0px 0px 15px 0px; 
  height: 40px;
  width: 90%;
  float: left;
}
div.add
{
  padding: 12px 0px 0px 0px; 
  height: 40px;
  width: 10%;
  float: left;
}

div.table_body
{
  height: 450px;
  overflow: auto;
}

div.table_header_quarter
{
  width:25%;
  position:relative;
  float:left;
}
div.table_header_half
{
  width:50%;
  position:relative;
  float:left;
}
div.todo_header_full
{
  width:100%;
  position:relative;
  float:left;
}
div.table_body_quarter
{
  width:25%;
  position:relative;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
div.table_body_half
{
  width:50%;
  position:relative;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.table_body_full
{
  width:100%;
  position:relative;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.element
{
  position:relative;
  float:left;
  background-color:#FF0000;
  color:#FFFFFF;
  width:100%;
  border-spacing:0px;
  border-radius:5px;
  border-style:solid;
  border-width:1px;
  border-color:black;
  min-height:20px;
}
div.element:hover
{
  background:gray;
}


/* Supporting admin form*/
div.edit_label
{
  width: 30%;
  float: left;
}

div.edit_field
{
  width: 70%;
  float: right;
}

div.edit_comment_field
{
  margin: 5px;
  overflow: auto;
  height: 150px;
  width: 82%;
  float: left;
}

div.edit_description_field
{
  overflow:auto;
  height:80px;
  width:70%;
  float:left;
}

div.button_format
{
  padding: 5px;
  float: left;
}
div.delete_format
{
  margin-right: 15%;
  float: right;
}



