div.admin_body
{
  height: 500px;
  width: 960px;
  margin: 0px auto;
}

/* Supporting admin form*/
div.field
{
 height: 20px;
 width: 100%;
}
div.edit_label
{
  width: 25%;
  float: left;
}

div.edit_field
{
  width: 75%;
  float: right;
}

div.edit_comment_field
{
  margin: 5px;
  overflow: scroll;
  height: 150px;
  width: 82%;
  float: left;
}

