/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jqplot
 *= require_tree .
 */
 

div.header
{
  background: #690925; /* Old browsers */
  background: -moz-linear-gradient(left,  #690925 0%, #b90938 50%, #690925 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#690925), color-stop(50%,#b90938), color-stop(100%,#690925)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #690925 0%,#b90938 50%,#690925 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #690925 0%,#b90938 50%,#690925 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #690925 0%,#b90938 50%,#690925 100%); /* IE10+ */
  background: linear-gradient(to right,  #690925 0%,#b90938 50%,#690925 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#690925', endColorstr='#690925',GradientType=1 ); /* IE6-9 */
  padding: 10px;
  float:top;
}

div.title_text
{
  float:right;
  margin:0px;
  padding:0px;
}
div.title_text p
{
  margin:0px;
  padding:0px;
  float:right;
  color:white;
  font-weight:bold;
  font-size:40px;
  font-family:impact, sans-serif;
}

div.client_title
{
  float:right;
}
div.client_title p
{
  float:right;
  font-size:18px;
  font-family:impact, sans-serif;
  white-space: nowrap;
}

img
{
	border-style:none;
  -ms-interpolation-mode: bicubic;
}
