// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Supporting the index of client */
div.client_list 
{
  height: 100%;
  width: 45%;
  margin: 15px;
  float: left;
}
div.create_client
{
  height: 100%;
  width: 45%;
  float: left;
  boarder: solid;
  boarder-width: 1px;
  margin: 15px;
  background: gray;
}

