// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.visits_list_set
{
	width:48%;
	float:left
}

div.visits_detail_view
{
	width:48%;
	float:left;
	background:gray;
	border-style:solid;
	border-width:2px
}

div.visits_date
{
	width:30%;
	float:left;
	/*border-style:dotted*/
}

div.visits_action_items
{
	width:50%;
	float:left;
	/*border-style:dashed*/
}

div.visits_header
{
	width:100%;
	height:50px
}

#global_container	/*Archor point, to center other divs*/
{
	position:relative;
	top:150px;
}
#leftpane
{
	position:relative;
	float:left;
	width:15%;
	min-height:100%;

	background-color:#FF0000;
}
#dividebar
{
	position:relative;
	float:left;
	width:2%;
/*	min-height:100%;	*/
	min-height:500px;

	border-radius:50px;
	background-color:#555555;
}
#rightpane
{
	position:relative;
	float:left;
	width:83%;
	min-height:100%;

	background-color:#0000FF;
}
#timeline
{
	position:relative;
	float:left;
	border:0;
	width:95%;
	height:15px;
/*	top:90px;	*/
/*	bottom:5px;	*/
	background-color:#555555;
	color:#ff4800;
	border-radius:8px;

	margin:0 auto;
}
div.container
{
	position:relative;
	width:1000px;
	height:10px;
	
	margin:0 auto;
}
div.circle_icon
{
	position:relative;
	float:left;
	top:-2px;

	height:15px;
	width:15px;
	border-radius:10px;
	background-color:#FFFF00;

	border: 2px solid #555555;
}
div.circle_button
{
	position:relative;
	float:left;
	left:20px;

	height:50px;
	width:100px;
	border-radius:25px;
	background-color:#FF4800;

	border: 2px solid #555555;
}
div.wide
{
	width:15%;	/*Adds 14% to width value??*/
}
p.button
{
	position:relative;
	left:25px;

	font-family:"Courier New", sans-serif;
	font-weight:900;
}
p.circle_text
{
	position:relative;
	bottom:40px;

	font-family:"Courier New", sans-serif;
	font-weight:900;
	color:#000000;

	white-space: nowrap;

	transform:rotate(300deg);
	-webkit-transform:rotate(300deg);
	-moz-transform:rotate(300deg);
}
#global_container	/*Archor point, to center other divs*/
{
	position:relative;
	top:150px;
}
#leftpane
{
	position:relative;
	float:left;
	width:15%;
	min-height:100%;

	background-color:#FF0000;
}
#dividebar
{
	position:relative;
	float:left;
	width:2%;
/*	min-height:100%;	*/
	min-height:500px;

	border-radius:50px;
	background-color:#555555;
}
#rightpane
{
	position:relative;
	float:left;
	width:83%;
	min-height:100%;

	background-color:#0000FF;
}
div.timeline
{
	position:relative;
	float:left;
	border:0;
	width:100%;
	height:15px;
	bottom:5px;
	background-color:#555555;
	color:#ff4800;
	border-radius:8px;

	margin:0 auto;
}
div.container
{
	position:relative;
	width:1000px;
	height:10px;
	
	margin:0 auto;
}
div.circle_icon
{
/*	position:absolute;  */
	position:relative;
	float:left;
	top:-2px;

	height:	15px;
	width:	15px;
	border-radius:10px;
	background-color:#FFFF00;

	border: 2px solid #555555;
	white-space:nowrap;
}

div.spacer
{
/*	position:absolute;  */
	position:relative;
	float:left;
/*	top:-2px;	*/

/*	height:	15px;	*/
/*	width:	15px;	*/
/*	border-radius:10px;	*/

	min-width:0px;

	background-color:#FFFF00;	
	border: 2px solid #00FF00;

	white-space:nowrap;
}
div.circle_button
{
	position:relative;
	float:left;
	left:20px;

	height:50px;
	width:100px;
	border-radius:25px;
	background-color:#FF4800;

	border: 2px solid #555555;
}
div.wide
{
	width:15%;	/*Adds 14% to width value??*/
}
p.button
{
	position:relative;
	left:25px;

	font-family:"Courier New", sans-serif;
	font-weight:900;
}
p.circle_text
{
	position:relative;
	bottom:40px;

	font-family:"Courier New", sans-serif;
	font-weight:900;
	color:#000000;

	white-space: nowrap;
	transform:rotate(300deg);
	-moz-transform:rotate(300deg);
	-webkit-transform:rotate(300deg);
}
