// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.visits_list_set
{
	width:45%;
	margin: 15px;
	float:left;
}

div.arrow
{
    margin:12px;
    float:left;
}
div.visits_date
{
	margin:12px;
	float:left;
}

div.visits_action_items
{
	margin:12px;
	float:left;
}

div.visits_header
{
	width:100%;
	float:left;
	height:50px;
}

div.vistits_right_header_element
{
	float: right;
	margin-top: 12px;
	margin-bottom: 12px;
	
}

div.timeline
{
	position:relative;
	width:95%;
	height:11px;
	background-color:#196483;
	border-radius:8px;
	margin:0 auto;
	margin-top: 15px;
}
div.circle_icon
{
	position:relative;
	float:left;
	top:-6px;

	height:20px;
	width:20px;
	border-radius:10px;
	background-color:#F4BB3A;

	border: 2px solid #196483;
}
p.circle_text
{
	position:relative;
	bottom:40px;

	font-family:"Courier New", sans-serif;
	font-weight:900;
	color:#000000;

	white-space: nowrap;

	transform:rotate(300deg);
	-webkit-transform:rotate(300deg);
	-moz-transform:rotate(300deg);
}
div.visit_goals
{
  position:relative;
  float:left;
  width:100%;
/*
  border-spacing:0px;
  border-radius:5px;
  border-style:solid;
  border-width:1px;
  border-color:black;
*/
  min-height:20px;
  margin-bottom:10px;
}
div.visit_goals_picture
{
  position:relative;
  float:left;
  padding-left:30px;
  width:15%;
}
div.visit_goals_progress
{
  position:relative;
  float:left;
  width:65%
}
div.visit_goals_monthly
{
  position:relative;
  float:left;
  margin-top:18px;
  padding-left:12px;
  width:15%
}
div.visit_todos
{
  position:relative;
  float:left;
  width:100%;
/*
  border-spacing:0px;
  border-radius:5px;
  border-style:solid;
  border-width:1px;
  border-color:black;
*/
  min-height:20px;
  margin-bottom:10px;
}


/* In CSS, not JavaScript */
@page {
  size: landscape;
}

@media print {
  /* Define print-specific styles here, for example toning down the decoration
     of hyperlinks and removing the navigation. */
  a {dispaly: inherit !important; text-decoration: none !important;}
  nav {display: none;}
}
