<div class="header" style=" position: relative;">
  <%= link_to image_tag("prosperionLogo.png"), "/clients" %>
    <div style="float:right;width:680px">
      <div style="color: #F4BB3A; float: right;width:100%;height:46px">
      <% if @client && @client.first_name && @client.last_name %>
        <div style="float:right;padding: 12px;">
      	  <%= "For " + @client.first_name + " " + @client.last_name %>
        </div>
      <% end %>
      <% if @goal && @goal.client && @goal.client.first_name && @goal.client.last_name %>
        <div style="float:right;padding: 12px;">
          <%= "For " + @goal.client.first_name + " " + @goal.client.last_name %>
        </div>
      <% end %>
      </div>
      <div style="color: white; font-size: 300%;width:100%;">
        <div style="float:right; padding: 12px;">
      	  <%= @title.upcase %>
        </div>
      </div>
    </div>
</div>
