<div class="header" style=" position: relative;">
  <%= link_to image_tag("prosperionLogo.png"), "/clients" %>
  <% if @client && @client.first_name && @client.last_name %>

    <div style="float:right;width:500px">
      <div style="color: #F4BB3A; Float: right;">
      	<%= "For " + @client.first_name + " " + @client.last_name %>
      </div>
      <div style="color: white; font-size: 400%;position: absolute; bottom: 0; float:right;">
      	SNAPSHOT
      </div>
    </div>
  <% end %>
</div>
