<div class="header" style=" position: relative;">
  <%= link_to image_tag("prosperionLogo.png"), "/clients" %>
    <div style="float:right;">
      <div class="client_name">
      <% if @client && @client.first_name && @client.last_name %>
        <%= getClientHeader @client %>
      <% elsif @goal && @goal.client && @goal.client.first_name && @goal.client.last_name %>
        <%= getClientHeader @goal.client %>
      <% end %>
      </div>
      <div class="title_text">
        <p><%= @title %></p>
      </div>
    </div>
</div>
